extends layout

block content
  h1= title
  p Zmień hasło
  form(method="post")
    label(for="new_password") Nowe hasło:
    input(type="password" name="new_password")
    input(type="submit", value="Zmień")
  a(href="/") Powrót